/*
select * from pbi.f_FreeCar()
*/
IF EXISTS(SELECT name FROM sysobjects WHERE name = 'f_FreeCar' AND type = 'TF') 
  DROP FUNCTION pbi.f_FreeCar
go 

CREATE FUNCTION [pbi].[f_FreeCar] ()
RETURNS @Temp TABLE 
(
	TruckReff VARCHAR(MAX),
    LegalNum  VARCHAR(MAX),
	Manager VARCHAR(MAX),
	Counter INT,
	Status VARCHAR(MAX)
	
)
AS
BEGIN

	declare @Orders table (
		OrderRef    VARCHAR(MAX),
		[Order]     NCHAR(11),
		TruckRef    VARCHAR(MAX),
		StartResult DATETIME,
		EndResult   DATETIME
	);

	INSERT INTO @Orders
	select OrderRef, [Order], TruckReff, 
		case when StartFact IS NOT Null then StartFact else StartPlan end as 'StartResult',
		case when EndFact IS NOT Null then EndFact else EndPlan end as 'EndResult'
	from pbi.v_DimOrders
	where OrderDate >= DATEADD(MONTH, -1, GETDATE())
	and CAST(DeleteMark as bit) = 0
	and (OrderStatment <> 'Отказано' or OrderStatment <> 'Отказано клиентом')
	and TechOrder = 0
	and Expedition = 0

	declare @AllOrders table (
		OrderRef    VARCHAR(MAX),
		TruckRef    VARCHAR(MAX),
		StartResult DATETIME,
		EndResult   DATETIME
	);

	;with cte_Orders as (
		select * from @Orders
	),
	cte_Mixing as(
		select *, ROW_NUMBER() OVER(PARTITION BY OrderReff ORDER BY HitchDate) AS RN
		from pbi.v_Mixing
	),
	cte_MaxMixing as(
		select OrderReff, MAX(RN) as MaxRN
		from cte_Mixing
		group by OrderReff
	)
	Insert into @AllOrders 
	-- перецепки старт
	Select O.OrderRef, M.FirstTruckReff as TruckRef, O.StartResult, M.HitchDate as EndResult
	from cte_Orders O
	inner join cte_Mixing M on O.OrderRef =  M.OrderReff and M.RN = 1

	union
	-- перецепки окончание
	Select O.OrderRef, M.LastTruckReff, M.HitchDate, O.EndResult
	from cte_Orders O
	inner join cte_MaxMixing MM on O.OrderRef = MM.OrderReff
	inner join cte_Mixing M on O.OrderRef =  M.OrderReff and M.RN = MM.MaxRN

	union
	-- перецепки промежуточные
	select MStart.OrderReff, MEnd.FirstTruckReff, MStart.HitchDate, MEnd.HitchDate
	from cte_Mixing MStart
	inner join cte_Mixing MEnd on MStart.OrderReff = MEnd.OrderReff and MStart.RN = MEnd.RN - 1

	union

	select OrderRef, TruckRef, StartResult, EndResult
	from cte_Orders O
	where not exists(select * from pbi.v_Mixing M where O.OrderRef = M.OrderReff)

	;with cte_DimTrucks as(
		select VT.TruckReff, LegalNum, Manager, cast(GETDATE() as Date) as ReportDate 
		from pbi.v_DimTrucks VT
		left join pbi.v_TruckManager VTM on VT.TruckReff = VTM.TruckReff
		where VT.Active = 1
	),
	cte_AllCounts as(
		Select T.TruckReff, LegalNum, Manager, 
			count(DISTINCT O0.OrderRef) as Count0,
			count(DISTINCT O1.OrderRef) as Count1,
			count(DISTINCT O2.OrderRef) as Count2,
			count(DISTINCT O3.OrderRef) as Count3,
			count(DISTINCT O4.OrderRef) as Count4,
			count(DISTINCT O5.OrderRef) as Count5,
			count(DISTINCT O6.OrderRef) as Count6,
			count(DISTINCT O7.OrderRef) as Count7,
			count(DISTINCT O8.OrderRef) as Count8,
			count(DISTINCT O9.OrderRef) as Count9
		from cte_DimTrucks T
			left join @AllOrders O0 on O0.TruckRef = T.TruckReff and DATEADD(DAY, 0, T.ReportDate) BETWEEN O0.StartResult AND O0.EndResult
			left join @AllOrders O1 on O1.TruckRef = T.TruckReff and DATEADD(DAY, 1, T.ReportDate) BETWEEN O1.StartResult AND O1.EndResult
			left join @AllOrders O2 on O2.TruckRef = T.TruckReff and DATEADD(DAY, 2, T.ReportDate) BETWEEN O2.StartResult AND O2.EndResult
			left join @AllOrders O3 on O3.TruckRef = T.TruckReff and DATEADD(DAY, 3, T.ReportDate) BETWEEN O3.StartResult AND O3.EndResult
			left join @AllOrders O4 on O4.TruckRef = T.TruckReff and DATEADD(DAY, 4, T.ReportDate) BETWEEN O4.StartResult AND O4.EndResult
			left join @AllOrders O5 on O5.TruckRef = T.TruckReff and DATEADD(DAY, 5, T.ReportDate) BETWEEN O5.StartResult AND O5.EndResult
			left join @AllOrders O6 on O6.TruckRef = T.TruckReff and DATEADD(DAY, 6, T.ReportDate) BETWEEN O6.StartResult AND O6.EndResult
			left join @AllOrders O7 on O7.TruckRef = T.TruckReff and DATEADD(DAY, 7, T.ReportDate) BETWEEN O7.StartResult AND O7.EndResult
			left join @AllOrders O8 on O8.TruckRef = T.TruckReff and DATEADD(DAY, 8, T.ReportDate) BETWEEN O8.StartResult AND O8.EndResult
			left join @AllOrders O9 on O9.TruckRef = T.TruckReff and DATEADD(DAY, 9, T.ReportDate) BETWEEN O9.StartResult AND O9.EndResult
		group by T.TruckReff, LegalNum, Manager
	)
	insert into @Temp
	select 
		TruckReff, 
		LegalNum, 
		Manager,
		1 as Counter,
		case 
			when (Count0+Count1+Count2+Count3+Count4+Count5+Count6+Count7+Count8+Count9) = 0 then 'Немає плану'
			when (Count0+Count1+Count2) > 0 AND (Count3+Count4+Count5+Count6+Count7+Count8+Count9) = 0 then 'План на 1-3 дні'
			when (Count0+Count1+Count2+Count3+Count4) > 0 AND (Count5+Count6+Count7+Count8+Count9) = 0 then 'План на 4-5 днів'
			when (Count0+Count1+Count2+Count3+Count4+Count5+Count6+Count7+Count8+Count9) > 0 then 'План на 6+ днів'
			else 'ОК'
		end as Status
	from cte_AllCounts

	RETURN
END;
